body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.encabezado {
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1637825891028-564f672aa42c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 75%;
    color: rgb(233, 245, 255);
    display: flex;
    flex-direction: column;
    height: 500px;
}

.foto {
    height: 250px;
    margin-top: 50px;
}

.titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.subtitulo {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-top: -20px;
}

#datos {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    height: 50px;
    margin-top: -10px;
    text-align: center;
    padding: 8px;
}

.linkSeccion {
    color: #563ae0;
}

.container {
    margin: 0 30px 0 30px;
}

p {
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

hr {
    width: 100%;
    height: 5px;
    background-color: #100063;
}

li {
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    margin-left: 30px;
}

.periodos {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.icono {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.listaFooter {
    list-style-type: none;
    display: flex;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #100063;
    height: 200px;
}

.infoPersonal {
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.tituloSobreMi {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
}